<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="app.css">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="msg-box">
                니나브
            </div>

            <div class="indicator">
                <div class="pin active"></div>
                <div class="pin"></div>
                <div class="pin"></div>
                <div class="pin"></div>
                <div class="pin"></div>
                <div class="pin"></div>
            </div>
            <div class="slider">
                <div class="box">
                    <!-- 사용자 정의 속성 -->
                    <img src="images/01.png" alt="01.png" data-name="니나브">
                </div>
                <div class="box">
                    <img src="images/02.png" alt="02.png" data-name="핑모코">
                </div>
                <div class="box">
                    <img src="images/03.png" alt="03.png" data-name="개구리">
                </div>
                <div class="box">
                    <img src="images/04.png" alt="04.png" data-name="모코코">
                </div>
                <div class="box">
                    <img src="images/05.png" alt="04.png" data-name="페이몬">
                </div>
                <div class="box">
                    <img src="images/06.png" alt="04.png" data-name="여행자">
                </div>
            </div>
            <div class="controller">
                <button class="controlBtn" id="prev">&lt;</button>
                <button class="controlBtn" id="next">&gt;</button>
            </div>
        </div>
    </div>

    <script>
        let log = console.log();
        let isSlide = false;
        let current = 0; //0번쨰 그림을 보고 있다. 

        function leftSlid() {
            if (isSlide) return; //return을 하면 밑에 문장은 실행이 안된다.
            current--;
            slide();
        }

        function rightSlid() {
            current++;
            if (isSlide) return;
            slide();
        }

        function slide() {
            isSlide = true;

            //슬라이드가 시작될때 모든 핀에서 active클래스를 지운다.
            $(".pin").removeClass("active");
            $(".pin").eq(current).addClass("active");

            $(".slider").animate({
                "left": `-${current * 300}px`
            }, 500, function() {
                isSlide = false;
            });

            let name = $(".box > img").eq(current).data("name");
            $(".msg-box").text(name).css({
                "top": "-40px"
            });

            $(".msg-box").text(name).animate({
                "top": "10px"
            }, 600);


            if (current <= 0) {
                $("#prev").attr("disabled", true);
            } else if (current >= 5) {
                $("#next").attr("disabled", true);
            } else {
                $("#prev").attr("disabled", false);
                $("#next").attr("disabled", false);
            }
        }

        $("#prev").on("click", leftSlid);
        $("#next").on("click", rightSlid);
    </script>
</body>

</html>